* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header {
    width: 100%;
    height: 80px;
    display: block;
    background-color: #101010;
}

.inner_header {
    width: 90%; /* makes inner header 1000px wide */
    height: 100%;  /* makes inner header height to the height of the main header */
    display: block;  /* center inner header horizontally */
    margin: 0 auto;  /* center inner header horizontally */
    /* background-color: red; */
}

.logo_container {
    height: 100%;  /* makes height of logo the same as inner header */
    display: table;  /* makes it easiest to center elements vertically */
    float: left;
}

.logo_container h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: 200;
}

.logo_container h1 span{
    font-weight: 800;
}

.navigation {
    float: right;
    height: 100%;
}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a:last-child {
    padding-right: 0;
}

.navigation a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

.input_field {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    /* background-color: red; */
    position: relative;
    flex-flow: column wrap;
    text-align: center;
    
}

.input_field p {
    color: #101010;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    padding: 20px;
}

.input_box {
    height: 40%;
    width: 50%;
    font-size: 20px;
    margin-right: 25px;  /* puts padding between box and button */
}

.submit_button {
    height: 40%;
    width: 150px;
    font-size: 20px;
    padding: 0;
}

/*************************** main.html ********************************/
.card_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 300px;
    background-color: white;
    position: relative;
    flex-flow: column wrap;
    text-align: center;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0 0 10px 0px #fff; /* outer white glow */
    transition: 200ms;
}

.card_container:hover {
    height: 508px;
    width: 308px;
}

.card {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 85%;
    width: 85%;
    background-color: white;
    position: relative;
    flex-flow: column wrap;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 5px;
    padding: 15px 0px;
}

.card h1 {
    font-size: 48px;
}

.card p {
    font-size: 20px;
}